@tailwind components; 

@layer components {
    .header {
        @apply w-full bg-white z-10 fixed; 
    }

    .nav {
        height: 80px;
        @apply w-full relative container max-w-5xl mx-auto px-4 flex items-center justify-between z-10;
    }

    .nav-logo {
        @apply font-bold text-2xl text-blue-900 cursor-pointer;
    }

    .nav-list {        
        @apply absolute flex-col gap-0 items-center transition-all duration-300 sm:gap-5 sm:flex sm:flex-row sm:relative; 
    }

    .nav-link {
        @apply text-sm font-medium text-gray-600 hover:text-gray-700 hover:underline; 
    }
    
    .icons {
        @apply block sm:hidden cursor-pointer ; 
    }
}

@media only screen and (max-width: 640px) {
    .nav-list {  
        top: 80px;
        left: 0; 
        width: 100%; 
        height: auto; 
        opacity: 0;
        @apply bg-gray-50 text-center; 
    }

    .nav-list.active {
        opacity: 1;
    }

    .nav-list li {
        @apply block w-full flex-grow; 
    }

    .nav-link {
        @apply block w-full  bg-gray-100 hover:no-underline hover:bg-gray-200 py-5; 
    }
}