@tailwind base; 
@tailwind components; 
@tailwind utilities;

/* *,*::after, *::before {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
} */

body {
    @apply w-full bg-gray-50 text-gray-500 relative; 
}
